{% extends 'basic.html' %}
{% block title %}about
{% endblock title %}
{% block body %}

<div class="continer text-center mb-5 px-5 py-5" style="
.background-image-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.background-image-section p {
    font-size: 18px;
}" >
    <div>
        <section class="container-fluid">
            <div class="background-image-section mb-5" style="        .background-image-section {
                background-image: url('https://images.unsplash.com/photo-1600776216872-b39b2a3dd995?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80');
                background-size: cover;
                background-position: center;
                height: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #fff;
            }
        ">
            <div class="row">
        <div class="col">
            <h2>Contact</h2>
        </div>
        <div class = "col">
            For general press inquiries or India media requests,<br> please get in touch at contact.press@homestay.com.
        </div>
    </div>
            </div>
        </section>
  
</div>
{% endblock body %}